h1 {
    width: 500px;
    font-style: italic;
    color: lightgreen;
    text-align: center;
    border-top-color: lightblue;
    border-right-color: lightblue;
    border-bottom-color:lightgreen;
    border-left-color:lightgreen;
    border-width:8px;
    border-style: solid;
    }
h3 {
    color:lightyellow;
}
h2 {
    font-family: cursive;
    color:rgb(248, 183, 86);
}
a{
    color: blue;
}
p,code, ol{
    color:grey;
    text-align: inherit;
}
body{
    background-color:black;
    vertical-align:middle
}
table, th, td {
    border: 1px grey;
    text-align: center;
    color: white;
}
img{
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 29%;
    padding: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}